* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 13px Helvetica, Arial;
}

form {
    background: #000;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

form input {
    border: 0;
    padding: 10px;
    width: 90%;
    margin-right: .5%;
}

form button {
    width: 9%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
    padding: 5px 10px;
}

#messages li:nth-child(odd) {
    background: #eee;
}
#scoreboard{
    position:fixed;right:0;top:0;
}
#userlist{
    list-style-type: none;height:400px;background-color:rgba(20,20,20,0.5);width:200px;
}
#scoreboard h2{
    color:white;
    text-align: center;
    padding:10px 0;
    background-color: rgba(20,20,20,0.5);
}
#userlist li{
    width:100%;
    padding:10px;
}
.score{
    float:right;
}
#form-name{
    width:300px;
    height:100px;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
#form-name.filled{
    display:none;
}
#form-name #name{
    width:100%;
}
#form-name input[type="submit"]{
    width:50px;
    margin:auto;
    display:block;
}