* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font: 13px Helvetica, Arial;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 20px;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
    padding: 5px 10px;
}

#messages li:nth-child(odd) {
    background: #eee;
}
#scoreboard{

}
#userlist{
    list-style-type: none;height:400px;background-color:rgba(20,20,20,0.5);width:200px;
}
#scoreboard h2{
    color:white;
    text-align: center;
    padding:10px 0;
    background-color: rgba(20,20,20,0.5);
}
#userlist li{
    width:100%;
    padding:10px;
}
.score{
    float:right;
}
.name{
    position:fixed;
    width:300px;
    height:100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    bottom: initial;
}
.name input{
    width:100%;
}
.name button{
    width:50px;
    margin:auto;
    display:block;
}