* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font: 13px Helvetica, Arial;
}
body.blur{
    background-color: rgba(0,0,0, 0.7);
}
section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 20px;
}
#message{
    position:fixed;
    padding:10px 30px;
    opacity:0;
    top:20%;
    left:38%;
    background-color:#ebebeb;
    border: 1px solid #0F0F0F;
    transition:all 0.2s;
}
#message.active{
    opacity:1;
    top:40%;
    z-index:9999;
}
#scoreboard{
    display:flex;
    height:400px;
    width:250px;
    flex-direction:column;
}
#player-list{
    list-style-type: none;
    background-color: white;
    font-weight: bold;
    font-size: 16px;
}
#scoreboard h2{
    width:100%;
    padding:10px 0;
    color: #373737;
    text-align: center;
}
#player-list li{
    width:100%;
    padding:10px;
    display:flex;
    justify-content: space-between;
}
div.username{
    width:100%;
    height:100%;
    background-color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    position:absolute;
}
form.username{
    width:300px;
    height:100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
form.username input{
    width:100%;
}
form.username button{
    width:50px;
    margin:auto;
    display:block;
}

li.current{
  position:relative;
}

li.current::after{
  content:'';
  border-radius: 50%;
  position:absolute;
  width:10px;
  height:10px;
  background-color:rgb(173, 56, 35);
  left:-5px;
  top:40%;
}
